@model List<Convocation.Entities.Payment>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Payment List";
}

<h2>All Payment</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Student</th>
            <th>Event</th>
            <th>Amount</th>
            <th>Transaction ID</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.PaymentId</td>

                    <td>
                        @(item.Registration?.Participant?.StudentId ?? "N/A")
                    </td>

                    <td>
                        @(item.Registration?.Event?.EventTitle ?? "N/A")
                    </td>

                    <td>@item.PaidAmount</td>

                    <td>@item.TransactionId</td>

                    <td>@item.PaymentStatus</td>
                    <td>
                        @if (item.PaymentStatus == "Pending")
                        {
                            <a asp-action="Approve"
                               asp-route-id="@item.PaymentId"
                               class="btn btn-success btn-sm">
                                Approve
                            </a>

                            <a asp-action="Reject"
                               asp-route-id="@item.PaymentId"
                               class="btn btn-danger btn-sm">
                                Reject
                            </a>
                        }
                        else if (item.PaymentStatus == "Paid")
                        {
                            <span class="text-success">Approved</span>
                        }
                        else if (item.PaymentStatus == "Rejected")
                        {
                            <span class="text-danger">Rejected</span>
                        }
                    </td>
                    
                </tr>
            }
        }
    </tbody>
</table>