@model List<Convocation.Entities.Payment>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rejected Payment</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Student</th>
            <th>Amount</th>
            <th>Method</th>
            <th>Transaction ID</th>
            <th>Rejected Date</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Registration?.ParticipantId</td>
                <td>@item.PaidAmount</td>
                <td>@item.PaymentMethod</td>
                <td>@item.TransactionId</td>
                <td>@item.VerifiedAt?.ToString("dd MMM yyyy")</td>
            </tr>
        }
    </tbody>
</table>