@model List<Convocation.Entities.QrPass>

@{
    ViewData["Title"] = "QR List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>QR Pass List</h3>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>Student</th>
            <th>Event</th>
            <th>QR Code</th>
            <th>Image</th>
            <th>Status</th>
            <th>Created</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.QrPassId</td>

                <td>
                    @item.Registration?.Participant?.StudentId
                </td>

                <td>
                    @item.Registration?.Event?.EventTitle
                </td>

                <td>
                    @item.QrCodeText
                </td>

                <td>
                    @if (!string.IsNullOrEmpty(item.QrImagePath))
                    {
                        <img src="@item.QrImagePath"
                             width="80"
                             height="80" />
                    }
                </td>

                <td>
                    @if (item.IsUsed)
                    {
                        <span class="badge bg-danger">Used</span>
                    }
                    else
                    {
                        <span class="badge bg-success">Active</span>
                    }
                </td>

                <td>
                    @item.CreatedAt.ToString("dd MMM yyyy")
                </td>
            </tr>
        }
    </tbody>

</table>